.dropdown-input {
    max-width: 8em;
}

.dropdown-container {
  position: absolute;
  margin-top: 2px;
  margin-left: 4em;
  max-height: 50%;
  width: 9em;
  overflow: auto;
  font-size: 90%;
  border-radius: var(--rc);
  box-shadow: 0 2px 12px var(--cs);
  background: var(--c3);
  z-index: 100;
}

.dropdown-item {
  min-width: 7em;
  text-align: left;
}

div.dropdown-item:hover {
  background: var(--c2)
}

.dropdown-item-text {
  cursor: pointer;
  padding: 0.2em 1.2em;
  display: inline-block;
  width: 100%;
}

.recent-item {
  font-style: italic;
}

.dropdown-item-btn {
  display: inline-block;
  position: absolute;
  padding: 0.2em 0;
  right: 7px;
  background: none;
  color: var(--c6);
  font-size: 1.25em;
  margin: 1px;
  z-index: 101;
}

.dropdown-item-btn:hover {
  color: var(--c4);
}