.stop-selector-container {
    display: inline-block
}

.btn-location-container {
    margin-left: -1em;
}

.btn-location {
    color: var(--c1);
    background: none;
    padding: 0;
}

.btn-location:disabled {
    color: var(--c6);
    background: none;
}