.stop-selector {
    min-width: 300px;
}

.btn-location {
    color: var(--c1);
    background: none;
    padding: 0;
    position: relative;
    top: 7px;
    left: 0.6em;
}

.btn-location:disabled {
    color: var(--c6);
    background: none;
}